/*
Lección 3: Tarea de posicionamiento con CSS. Todo el trabajo debe hacerse en este archivo, por lo que si estás tocando cualquier otro
archivo en cualquiera de estas carpetas, estás en el lugar equivocado.
*/

/* Ejercicio 1: Centrar el texto en un span */

/* Arrancaremos este ejercicio por vos: */
#ejercicioUno {
    display: block;
    text-align: center;

}


/* Ejercicio 2: Posicionar el header */
#ejercicioDos {
   /* visibility: hidden;*/
   display: none;
}
/* Acá va tu código */



/* Ejercicio 3: */
#ejercicioTres{
    /*porque la posicion de su parent es relative*/
    position: absolute;
    left: 200px;
    bottom:100px;
}

/* Acá va tu código */



/* Ejercicio 4: */
#ejercicioCuatro{
    position:fixed ;
    top: 0;
    left: 0;
}
/* Acá va tu código */



/* Ejercicio 5: */
#ejercicioCinco{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Acá va tu código */



/* Ejercicio 6. */
#ejercicioCinco{
    display: flex;
    flex-direction:row-reverse;
}

#ejercicioSiete {
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(255, 255, 0);
    position: relative;
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}
